* {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

ul {
  padding-left: 0;
}

address {
  font-style: normal;
}

input {
  outline: none;
}

body {
  font-family: Inter;
}

.container {
  width: 1193px;
  margin: 0 auto;
}

.underlined-text {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.header {
  padding: 26px 0;
  border: 1px solid black;
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 68px;
}
.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.hero {
  padding-top: 87px;
  padding-bottom: 135px;
  border: 1px solid black;
}
.hero-title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 80px;
  line-height: 120%;
  letter-spacing: -3px;
  vertical-align: middle;
  margin-bottom: 114px;
}
.hero-description {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  vertical-align: middle;
  margin-bottom: 69px;
}
.hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 740px;
}
.hero-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 56px;
  border-radius: 100px;
  background-color: #1D1E25;
  color: #FFFFFF;
}
.hero-input {
  border: none;
  border-bottom: 1px solid #CED1D8;
}

.service {
  padding: 100px 0;
  background-color: #1D1E25;
}
.service-wrap {
  max-width: 816px;
  max-height: 306px;
  margin-bottom: 80px;
}
.service-title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  vertical-align: middle;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.service-description {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(126, 132, 146);
}
.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 56px;
}
.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 481px;
  max-height: 250px;
  gap: 24px;
}
.service-item-title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  vertical-align: middle;
  color: #FFFFFF;
}
.service-item-description {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #7E8492;
}

.growth {
  padding: 160px 0 94px 0;
}
.growth-flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
}
.growth-description-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.growth-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.growth-item {
  max-width: 383px;
  max-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.growth-title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  vertical-align: middle;
  margin-bottom: 24px;
}
.growth-description {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #7E8492;
  max-width: 360px;
  margin-bottom: 40px;
}

.about {
  padding-bottom: 66px 0 160px 0;
}
.about-title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  vertical-align: middle;
  max-width: 700px;
  text-align: left;
}
.about-description {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(126, 132, 146);
  max-width: 421px;
}
.about-advantage-title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0px;
  vertical-align: middle;
}
.about-advantage-description {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 144px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-top: 80px;
}/*# sourceMappingURL=main.css.map */