.companies {
    padding: 64px 0;

    &-wrap {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &-description {
        display: flex;
        flex-direction: column;
        max-width: 323px;
        height: 147px;
    }

    &-count {
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: -2px;
        color: rgba(29, 30, 37, 1);
        margin-bottom: 16px;
    }

    &-description {
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0px;
        color: rgba(126, 132, 146, 1);
    }
    &-list{
        max-width: 730px;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    &-item{
        padding: 30px;
        border-radius: 16px;
    }
}